TestCourse1***TestName1***300.0***Test requirement1***true***true
TestCourse2***TestName2***300.0***Test requirement2***true***false
TestCourse3***TestName3***300.0***Test requirement3***false***false
TestCourse4***TestName4***300.0***Test requirement4***false***false
TestCourse5***TestName5***300.0***Test requirement5***false***false
HCI-DE***Helen Purchase***500.0***conference papers***true***false
Programming***Simon Rogers***100.0***2 tutor***true***false
Algorithm***Alice Miller***300.0***Textbook, 2 tutors***false***false
TestCourse6***TestName6***300.0***Test requirement6***false***false
TestCourse7***TestName7***300.0***Test requirement7***true***true
TestCourse8***TestName8***300.0***Test requirement8***true***true
Sleep and eat***Chentao Zhou***1000.0***Lots of food***true***false
Cooking***Chentao Zhou***500.0***Kitchen ware***false***false
I don't know***Somebody***0.0***Make up the number***false***false
TestAgain***Me***0.0***This is completed***false***false
OneMoreTest***Yirong Li***10.0***I am sleepy***false***false
LastTest***YirongLi***0.0***Fill the space***false***false
Real Last Test***Yirong Li***0.0***We need to test more***true***false
